<div id="cardContainer-{{title}}" class="card-container" draggable="true">
    <div class="card-header">
        <span class="card-title">{{title}}</span>
        <div class="card-action-btns">
            <span (click)="destroySelf()">Close</span>
        </div>
    </div>
    <div class="card-body">
        <image-carousel style="align-self: center;" [percentage]="scrollPercentage" [title]="title"></image-carousel>
        <span class="card-fragment" id="cardBody-{{title}}">
            {{fragment}}
        </span>
    </div>
</div>
