.card-container {
    --border: 1px solid #ddd;
    --fragment-bg-color: rgba(30, 14, 14, 0.75);
    --text-color: #E9E4D9;
    --redish-text-color: #f6E4D9;


    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 20;
    
    background-color: var(--fragment-bg-color);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: var(--border);

    width: 72ch;
    max-height: 30vh;
    min-height: 0px;
    padding-bottom: 10px;

    color: var(--text-color);
}

.card-header {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
}

.card-title {
    font-size: 1.7rem;
    font-weight: 600;
    flex: 1;
    min-width: 0;
    font-family: "PT Serif";

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.75rem 0;
}

.card-action-btns {
    cursor: pointer;
    user-select: none;
}

.card-body {
    display: flex;
    flex-grow: 1;
    padding: 10px 15px;
    padding-top: 0;
    font-size: 0.9rem;
    overflow: auto;
    gap: 15px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.card-fragment {
    min-width: 20ch;
}

.passage-card {
    line-height: 1rem;
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.image-placeholder {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
}

.close-btn {
    font-family: 'Times New Roman', Times, serif;
    padding: 2px 5px;
    color: var(--redish-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-arrow {
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
    margin-top: 1px solid #eee;
}



.styled-scrollbars {
    /* Foreground, Background */
    scrollbar-color: var(--redish-text-color) transparent;
  }
  .styled-scrollbars::-webkit-scrollbar {
    width: 5px; /* Mostly for vertical scrollbars */
  }
  .styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--redish-text-color);
  }
  .styled-scrollbars::-webkit-scrollbar-track { /* Background */
    background: transparent;
  }