.card-container {
    --border: 1px solid #ddd;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: var(--border);
    border-radius: 5px;

    max-width: 75ch;
    max-height: 25vh;

    min-width: 200px;
    min-height: 200px;

    z-index: 9;
    background-color: #fff;
}

.card-header {
    display: flex;
    padding: 7px 15px;
    border-bottom: var(--border);
    align-items: center;
    gap: 10px;
}

.card-title {
    font-size: 1.1rem;
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-action-btns {
    cursor: pointer;
    user-select: none;
}

.card-body {
    display: flex;
    flex-grow: 1;
    padding: 7px 15px;
    font-size: 0.9rem;
    overflow: hidden;
    gap: 15px;
}

.card-fragment {
    overflow: auto;
    min-width: 20ch;
}

.passage-card {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 5px;

    cursor: pointer;
}
