<div id="cardContainer-{{title}}" class="card-container" draggable="true">
    <!-- header -->
    <div class="card-header">
        <span class="card-title">
            {{title}}
        </span>
        <div class="card-action-btns">
            <div class="close-btn" (click)="destroySelf()">
                <i style="font-size: 1.6rem; font-weight: 600;">&times;</i>
            </div>
        </div>
    </div>
    <!-- Card body -->
    <div class="card-body styled-scrollbars">
        <!-- Medias -->
        <div class="medias-container" *ngIf="showMediasComponent">
            <app-medias [medias]="node.medias"></app-medias>
        </div>
        <span class="card-fragment" id="cardBody-{{title}}">
            <ng-container *ngFor="let passage of passages">
                <div class="passage-card">
                    <!-- Short passage -->
                    <span [hidden]="expansionByPassageId[passage.id]">
                        <span [innerHTML]="passage.shortText"></span>
                    </span>
                    <!-- Long passage -->
                    <span [hidden]="!expansionByPassageId[passage.id]">
                        <span [innerHTML]="passage.longText"></span>
                    </span>
                </div>
            </ng-container>
        </span>
    </div>
</div>