.page-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    position: relative;
}

.network-container {
    height: 100%;
    flex-grow: 1;
}

.filters-placeholder {
    width: 345px;
    background-color: #fff;
}

.groups-container {
    padding: 8px 16px;
    border: 1px solid;
    text-align: center;
}

.cards-container {
    flex-grow: 1;
    overflow: auto;
    padding: 8px 15px;
}

.group-element {
    display: flex;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    opacity: 0.4;
}

.selected-group {
    opacity: 1;
}

.group-name {
    font-size: 18px;
    white-space: nowrap;
}

.filters-container {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

.filter-btn-retracted {
    padding: 10px 15px 10px 15px;
    background-color: var(--text-color-dark);
    font-size: 1.2rem;
    color: #fff;
    border-radius: 7px 7px 0 0;
    width: 100%;
    text-align: center;
    user-select: none;
}

.filters-body {
    padding: 10px 15px;
    border: 1px solid var(--text-color-dark);;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-element {
    font-size: 14px;
}


.helper-btn-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 40px;
}

.helper-btn-container {
    width: min-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1px 17px;
    box-shadow: 2px 2px 3px #bbb;
    background-color: var(--text-color-dark);
}

.help-msg-container {
    position: absolute;
    box-shadow: -3px 2px 7px 1px #ddd;
    width: 33vw;
    max-width: 750px;
    right: -34vw;
    height: 100%;
    padding: 10px 15px 10px 35px;
    background-color: var(--bg-color);
    transition: all .19s ease-in-out;

    display: flex;
    flex-direction: column;
}

.close-helper-btn {
    position: absolute;
    top: calc(50% - 9px);
    left: -19px;
}

.helper-title {
    height: min-content;
    font-family: "Alternate Gothic N2";
    font-size: 36px;
    color: var(--text-color-dark);
}

.deselect-btn {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--bg-color);
    box-shadow: 2px 2px 3px #ddd;
    align-self: center;
    padding: 10px 15px;
    width:min-content;
    font-weight: 600;
    color: var(--text-color-dark);
    background-color: var(--bg-color);
    user-select: none;
    cursor: pointer;
}