<div class="page-container">
    <div class="filters-placeholder"></div>

    <div class="filters-container">
        <div class="filter-btn-retracted">
            Filtros
        </div>
        <div class="filters-body">
            <ng-container *ngFor="let item of colorByGroup | keyvalue">
                <div class="group-element" (click)="toggleGroup(item.key)"
                    [ngClass]="{'selected-group': filteredGroups.has(item.key)}">
                    <div style="height: 15px; width: 15px; border-radius: 50%;"
                        [ngStyle]="{'background-color': item.value}"></div>
                    <span class="group-name">{{item.key}}</span>
                </div>
            </ng-container> 
        </div>

        <div class="deselect-btn" (click)="desselectAll()">
            <span style="white-space: nowrap;">Desselecionar todos</span>
        </div>
    </div>

    <div id="container" class="network-container"></div>

    <!-- botão de ajuda -->
    <div class="helper-btn-space">
        <ng-container *ngIf="!isHelpVisible">
            <div class="helper-btn-container" (click)="toggleHelpVisibility()">
                <span style="color:#FFF; font-size: 36px;">&quest;</span>
            </div>
        </ng-container>
    </div>

    <!-- caixinha de ajuda -->
   <div class="help-msg-container"
    [ngStyle]="{'right': isHelpVisible ? '0' : '-34vw'}">

    <div class="helper-title">Como usar?</div>


    <ng-container *ngIf="isHelpVisible">
        <div class="close-helper-btn helper-btn-container" (click)="toggleHelpVisibility()">
            <span style="color:#FFF; font-size: 30px; margin-bottom: 5px;">&raquo;</span>
        </div>
    </ng-container>

   </div> 
</div>