.page-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;

    position: relative;
}

.network-container {
    height: 100%;
    flex-grow: 1;
}

.filters-placeholder {
    width: 335px;
    background-color: #fff;
}

.groups-container {
    padding: 8px 16px;
    border: 1px solid;
    text-align: center;
}

.cards-container {
    flex-grow: 1;
    overflow: auto;
    padding: 8px 15px;
}

.group-element {
    display: flex;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    opacity: 0.4;
}

.selected-group {
    opacity: 1;
}

.group-name {
    font-size: 18px;
    white-space: nowrap;
}

.filters-container {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 1px;   
}

.filter-btn-retracted {
    padding: 10px 15px 10px 15px;
    background-color: var(--text-color-dark);
    font-size: 1.2rem;
    color: #fff;
    border-radius: 7px 7px 0 0;
    width: 100%;
    text-align: center;
    user-select: none;
}

.filters-body {
    padding: 10px;
    border: 1px solid var(--text-color-dark);;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.filter-element {
    font-size: 14px;
}