<div class="page-container">
    <div class="filters-placeholder"></div>

    <div class="filters-container">
        <div class="filter-btn-retracted">
            Filtros
        </div>
        <div class="filters-body">
            <ng-container *ngFor="let item of colorByGroup | keyvalue">
                <div class="group-element" (click)="toggleGroup(item.key)"
                    [ngClass]="{'selected-group': filteredGroups.has(item.key)}">
                    <div style="height: 15px; width: 15px; border-radius: 50%;"
                        [ngStyle]="{'background-color': item.value}"></div>
                    <span class="group-name">{{item.key}}</span>
                </div>
            </ng-container> 
        </div>

        <div class="deselect-btn" (click)="desselectAll()">
            <span style="white-space: nowrap;">Desselecionar todos</span>
        </div>
    </div>

    <div id="container" class="network-container"></div>

    <!-- botão de ajuda -->
    <div class="helper-btn-space">
        <ng-container *ngIf="!isHelpVisible">
            <div class="helper-btn-container" (click)="toggleHelpVisibility()">
                <span style="color:#FFF; font-size: 36px;">&quest;</span>
            </div>
        </ng-container>
    </div>

    <!-- caixinha de ajuda -->
   <div class="help-msg-container"
    [ngStyle]="{'right': isHelpVisible ? '0' : '-34vw'}">

    <div class="helper-title">Como usar?</div>

    <!-- <div class="helper-body"> -->
        <div>
            <div class="helper-section-subtitle">
                Explorar
            </div>
            <div class="helper-section-text">
                Explorar pode ser realizado pela rede ou pelos pop-ups. Para explorar a rede, basta passar o mouse por cima dos pontos para ver qual o nome daquele ponto e dos pontos ligados a ele. Para explorar pelos pop-ups, basta clicar nas palavras em destaque no pop-up e você será direcionado para o ponto ligado àquela palavra.
            </div>
        </div>
    
        <div>
            <div class="helper-section-subtitle">
                Filtrar
            </div>
            <div class="helper-section-text">
                Filtrar é uma ação realizada na rede e faz com que apenas os pontos de uma determinada categoria e os pontos diretamente ligados a eles apareçam na rede. Para filtrar os pontos, basta ir ao quadro "Filtros", do lado esquerdo da tela, e clicar na categoria que você quer filtrar.
            </div>
        </div>
    
        <div>
            <div class="helper-section-subtitle">
                Ler
            </div>
            <div class="helper-section-text">
                Para ler a história de José Victor é preciso acessar os pop-ups, clicando em qualquer ponto da rede faz com que o pop-up com o trecho da história relacionado àquele ponto apareça na tela.
            </div>
        </div>
    
        <div>
            <div class="helper-section-subtitle">
                Expandir
            </div>
            <div class="helper-section-text">
                Expandir é uma ação que ocorre no pop-up para acessar as informações prescindíveis¹ da história de José Victor, quando um texto pode ser expandido, o cursor muda para XXXX e, quando o trecho é clicado, é possível ler mais informações sobre aquela parte da história.
            </div>
        </div>
    
        <div>
            <div class="helper-section-subtitle">
                Combinar
            </div>
            <div class="helper-section-text">
                <!-- Combinar consiste em abrir mais pop-ups. Existem dois tipos de combinação: combinar nós que já estão conectados e combinar nós não conectados. Para combinar nós conectados, pressione a tecla
                <span class="kb-mimic">Alt</span> e clique no nó desejado para abrir seu pop-up e todos os pop-ups dos nós conectados a ele. Para combinar nós não conectados é preciso pressionar shift e clicar no nó desejado. -->
                Clicar em um nó faz com que seu pop-up se abra; clicar segurando a tecla <span class="kb-mimic">Alt</span> fará com que os pop-ups dos nós conectados a ele também se abram. Para manter seleções previamente feitas, qualquer uma duas ações acima podem ser realizadas segurando também a tecla <span class="kb-mimic">Ctrl</span>
            </div>
        </div>
    <!-- </div> -->



    <ng-container *ngIf="isHelpVisible">
        <div class="close-helper-btn helper-btn-container" (click)="toggleHelpVisibility()">
            <span style="color:#FFF; font-size: 30px; margin-bottom: 5px;">&raquo;</span>
        </div>
    </ng-container>

   </div> 
</div>