<!-- <div style="display: flex; flex-direction: column; height: 100vh;">
    <div style="padding: 10px 20px; display: flex; justify-content: space-between; border-bottom: 1px solid;">
        <ng-container *ngFor="let item of colorByGroup | keyvalue">
            <div class="group-element" (click)="toggleGroup(item.key)"
                [ngClass]="{'selected-group': filteredGroups.has(item.key)}">
                <div style="height: 10px; width: 10px; border-radius: 50%;"
                    [ngStyle]="{'background-color': item.value}"></div>
                <span class="group-name">{{item.key}}</span>
            </div>
        </ng-container>
    </div>
    <div id="container" style="flex-grow: 1;"></div>
</div> -->

<div class="page-container">
    <div class="filters-placeholder"></div>

    <div class="filters-container">
        <div class="filter-btn-retracted">
            Filtros
        </div>
        <div class="filters-body">
            <ng-container *ngFor="let item of colorByGroup | keyvalue">
                <div class="group-element" (click)="toggleGroup(item.key)"
                    [ngClass]="{'selected-group': filteredGroups.has(item.key)}">
                    <div style="height: 15px; width: 15px; border-radius: 50%;"
                        [ngStyle]="{'background-color': item.value}"></div>
                    <span class="group-name">{{item.key}}</span>
                </div>
            </ng-container> 
        </div>
    </div>

    <div id="container" class="network-container"></div>
</div>