<div class="carousel" (click)="scrollToNextImage()" id="carouselContainer">
    <div id="{{title}}-img-1" class="image" style="background-color: blue;">
        Image 1
    </div>
    <div id="{{title}}-img-2" class="image" style="background-color: red;">
        Image 2
    </div>
    <div id="{{title}}-img-3" class="image" style="background-color: green;">
        Image 3
    </div>
    <div id="{{title}}-img-4" class="image" style="background-color: yellow;">
        Image 4
    </div>
    <div id="{{title}}-img-5" class="image" style="background-color: gray;">
        Image 5
    </div>


</div>
