<div class="page-container">
    <div class="description-box">
        <div class="title">O que permanece sobre José Victor?</div>
        <div class="horizontal-divider"></div>

        <div class="subtitle">narrativas sobre uma produção arquitetônica</div>

        <div class="description-text" style="max-width: 100ch;">
            José Victor foi um polímata que viveu no Bação no século XX, sua produção se estende a relógios de torre, casas, esculturas e até mesmo uma bicicleta voadora. Por conta de sua inventividade e personalidade peculiar, José Victor se tornou um personagem importante para o imaginário do Bação, lembrado até hoje por moradores mais antigos, pessoas que ouviram falar sobre ele e também pelas suas produções que ainda permanecem no Bação. Esse trabalho, realizado em conjunto com o Grupo de Teatro do Bação, faz um registro das memórias e narrativas tecidas no cotidiano baçônico sobre esse polímata.
        </div>

        <div class="cards-container">
            <div class="switcher">
                <div class="card-and-title">
                    <div class="card-title">Explorar</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa 
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Filtrar</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Ler</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin. 
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Expandir</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Combinar</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin
                    </div>
                </div>
            </div>
            
           
        </div>

        <button routerLink="/networkgraph" routerLinkActive="active" class="start-btn">
            Continuar
        </button>
    </div>
</div>

