<div class="page-container">
    <div class="description-box">
        <div class="title">O que permanece sobre José Victor?</div>
        <div class="horizontal-divider"></div>

        <div class="subtitle">narrativas sobre uma produção arquitetônica</div>

        <div class="description-text" style="max-width: 100ch;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac mollis nibh, a maximus tellus. Quisque ut ullamcorper metus. Aenean volutpat consectetur aliquam. Ut posuere quis sapien sed bibendum. Suspendisse vitae ex in urna sollicitudin bibendum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac mollis nibh, a maximus tellus. Quisque ut ullamcorper metus. Aenean volutpat consectetur aliquam. Ut posuere quis sapien sed bibendum. Suspendisse vitae ex in urna sollicitudin bibendum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac mollis nibh, a maximus tellus. Quisque ut ullamcorper metus. Aenean volutpat consectetur aliquam. Ut posuere quis sapien sed bibendum. Suspendisse vitae ex in urna sollicitudin bibendum.
        </div>

        <div class="cards-container">
            <div class="switcher">
                <div class="card-and-title">
                    <div class="card-title">Explorar</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa 
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Filtrar</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Ler</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin. 
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Expandir</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin
                    </div>
                </div>
    
                <div class="card-and-title">
                    <div class="card-title">Combinar</div>
                    <div class="card-body">
                        Aqui eu acho que deve vir algum texto sobre o que esse cartão significa né? Vou deixar um texto maiorzinho aqui e você completa ele depois, belê? Beijinhos, te amo até daqui a pouquinho trenzin
                    </div>
                </div>
            </div>
            
           
        </div>

        <button routerLink="/networkgraph" routerLinkActive="active" class="start-btn">
            Continuar
        </button>
    </div>
</div>

